{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="age-tabs">
        {% set child_tab_id = paragraph.field_ib_child_subcategories.value[0].target_id %}
        <a href="#tab-{{ child_tab_id }}" class="age-tab">
          <img src="{{ base_path ~ directory }}/images/insurance/s1.png"
               width="130" height="219" border="0" alt="">
          <span class="title">
            {{ content.field_ib_child_category_title }}
          </span>
        </a>
        {% set student_tab_id = paragraph.field_ib_student_subcategories.value[0].target_id %}
        <a href="#tab-{{ student_tab_id }}" class="age-tab narrow">
          <img src="{{ base_path ~ directory }}/images/insurance/s2.png"
               width="130" height="219" border="0" alt="">
          <span class="title">
            {{ content.field_ib_student_category_title }}
          </span>
        </a>

        <div class="age-tab wide">
          <img src="{{ base_path ~ directory }}/images/insurance/s3.png"
               width="260" height="219" border="0" alt="">

          <div class="sub-menu">
            <span class="title">
              {{ content.field_ib_adult_category_title }}
            </span>

            {% for adult_subcategories_id in paragraph.field_ib_adult_subcategories.value %}
              {% set subcategory_title = content.field_ib_adult_subcategories[loop.index0]['#paragraph'].field_isc_title.value %}
              <a href="#tab-{{ adult_subcategories_id.target_id }}" class="age-tab">{{ subcategory_title }}</a>
            {% endfor %}
          </div>
        </div>
        {% set pensioner_tab_id = paragraph.field_ib_pensioner_subcategories.value[0].target_id %}
        <a href="#tab-{{ pensioner_tab_id }}" class="age-tab">
          <img src="{{ base_path ~ directory }}/images/insurance/s4.png"
               width="130" height="219" border="0" alt="">
          <span class="title">
            {{ content.field_ib_pension_category_title }}
          </span>
        </a>
        <span class="toggle l"></span>
        <span class="toggle r"></span>
      </div>
      <div class="age-line"></div>

      {{ content.field_ib_child_subcategories }}
      {{ content.field_ib_student_subcategories }}
      {{ content.field_ib_adult_subcategories }}
      {{ content.field_ib_pensioner_subcategories }}

    {% endblock %}
  </div>
{% endblock paragraph %}
