.age-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 50px;
  position: relative;

  .age-tab {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: #015088;
    text-decoration: none;
    position: relative;
    text-align: center;
    margin: 0 5px;
    margin-bottom: 5px;
    -ms-flex-order: 0;
    order: 0;
    flex: 1;

    &.narrow {
      flex: 0.8;
    }
    &.wide {
      flex: 1.8;
    }
    &.u-active {
      img {
        opacity: 1;
      }

      > .title {
        background: #015088;
        color: #fff;
      }
    }

    .title {
      font-size: 120%;
      font-weight: bold;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    > .title,
    > .sub-menu {
      position: absolute;
      bottom: 10px;
      right: 15px;
      padding: 5px 10px;
      background: rgba(255, 255, 255, 0.8);
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      -webkit-transform: translateX(-25%);
      transform: translateX(-25%);
      pointer-events: none;
      user-select: none;
      opacity: 0.6;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }

    .sub-menu {
      text-align: left;
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .title {
        margin-bottom: 10px;
        padding-left: 5px;
      }
      a {
        display: inline-flex;
        padding: 3px 7px;
        margin: 0;
        &.u-active {
          background: #015088;
          color: #fff;
        }
        &:hover {
          background-color: #c8e8f5;
        }
      }
    }
  }
  .toggle {
    cursor: pointer;
  }

  > .age-tab {
    &:before {
      opacity: 0;
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      margin: 10px -15px 0;
      border: solid 15px transparent;
      border-top-color: #21568a;
      z-index: 33;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 30px;
      height: 30px;
      background: #5eb9af;
      border-radius: 30px;
      margin: 10px -15px 0;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -ms-transform: scale(0.6);
      transform: scale(0.6);
    }
    :before {
      margin-top: 31px;
      opacity: 1;
    }

    &.u-active {
      &:before {
        margin-top: 31px;
        opacity: 1;
      }
      &:after {
        background: #21568a;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}

.age-line {
  height: 10px;
  margin: 0 50px 0 25px;
  margin-top: 15px;
  background: rgb(182, 231, 234);
  background: -moz-linear-gradient(left, rgba(182, 231, 234, 1) 0%, rgba(78, 177, 165, 1) 50%, rgba(182, 231, 234, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(182, 231, 234, 1) 0%, rgba(78, 177, 165, 1) 50%, rgba(182, 231, 234, 1) 100%);
  background: linear-gradient(to right, rgba(182, 231, 234, 1) 0%, rgba(78, 177, 165, 1) 50%, rgba(182, 231, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6e7ea', endColorstr='#b6e7ea', GradientType=1);
}

.item-row {
  margin: 50px;
  a {
    color: #12a2da;
    text-decoration: underline;
  }

  .overview {
    display: flex;
    flex-direction: row;

    // changed, Stanislav
    > article {
      width: 100%;
    }
    // changed, Stanislav

    .icon {
      flex: 0 95px;
      position: relative;
      img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 95%;
        user-select: none;
        + img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .more {
      flex: 0;
      padding-top: 65px;
      white-space: nowrap;
      .whatnext {
        display: flex;
        flex-direction: column;
        // changed, Stanislav
        //width: 150px;
        //min-width: 150px;
        // changed, Stanislav
        strong {
          color: #21568a;
          font-weight: bold;
          font-size: 16px;
        }
        strong, a {
          padding-left: 20px;
        }
      }
    }
    .scale {
      flex: 1;
      padding-right: 20px;
      .title {
        height: 45px;
        h3 {
          color: #21568a;
          font-weight: bold;
          font-size: 19px;
          padding-top: 5px;
        }
      }
      .steps {
        display: flex;
        flex-direction: row;
        font-size: 90%;
        line-height: 18px;
        .step {
          flex: 1;
          &.end {
            flex: 0;
            .icon {
              left: 100%;
              margin-left: -12px;
            }
          }
          &.narrow {
            flex: 0.5;
          }
          &.wide {
            flex: 1.5;
          }
          &.center {
            text-align: center;
            .icon {
              left: 50%;
              margin-left: -12px;
            }
          }
          .ttl {
            white-space: nowrap;
            overflow: hidden;
            height: 18px;
          }
          .more-details {
            margin-top: 25px;
          }
        }
      }
    }
  }
  .line {
    height: 8px;
    position: relative;
    background: #efefef;
    margin-top: 10px;
    margin-bottom: 12px;
    &.green {
      background: #10a061;
    }
    &.thr {
      background: none;
    }
    &.over {
      background: rgb(16, 160, 97);
      background: -moz-linear-gradient(left, rgba(16, 160, 97, 1) 0%, rgba(186, 170, 50, 1) 50%, rgba(255, 255, 255, 1) 51%);
      background: -webkit-linear-gradient(left, rgba(16, 160, 97, 1) 0%, rgba(186, 170, 50, 1) 50%, rgba(255, 255, 255, 1) 51%);
      background: linear-gradient(to right, rgba(16, 160, 97, 1) 0%, rgba(186, 170, 50, 1) 50%, rgba(255, 255, 255, 1) 51%);
    }
    &.thr:after,
    &.over:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 2px;
      margin-top: -1px;
      background: #21568a;
    }
    &.thr:after {
      width: 100%;
      left: 0;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      margin: -8px 0 0 -4px;
      width: 23px;
      height: 23px;
      background: #efefef center center no-repeat;
      border-radius: 30px;
      z-index: 2;
      &.i-start {
        background: #10a061 url('../../images/insurance/check.png') center center no-repeat;
      }
      &.i-pause {
        background: #9e3b0d url('../../images/insurance/pause.png') center center no-repeat;
      }
      &.i-stop {
        background: #a3a938 url('../../images/insurance/stop.png') center center no-repeat;
      }
      &.i-more {
        background: url('../../images/insurance/clock.png') center center no-repeat;
      }
      &.i-end {
        background: url('../../images/insurance/lineend.png') center center no-repeat;
        width: 32px;
      }
    }
  }
  .item-details {
    display: none;
    padding-left: 95px;
    border-bottom: solid 1px #b1d0ef;
    margin-top: 14px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 242, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(230, 242, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(230, 242, 255, 1) 100%);

    .field--label {
      font-weight: bold;
      margin: 15px 0 0;
      color: #21568a;
    }
  }
}

.active {
  .item-row {
    &:nth-child(2n) .overview .icon img,
    &:nth-child(2n) .line {
      animation-delay: .3s;
      -webkit-animation-delay: .3s;
    }
    &:nth-child(3n) .overview .icon img,
    &:nth-child(3n) .line {
      animation-delay: .4s;
      -webkit-animation-delay: .4s;
    }
    .overview {
      .icon {
        img {
          opacity: 0;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-name: flipInX;
          animation-name: flipInX;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-animation-duration: .6s;
          animation-duration: .6s;
        }
      }
    }
    .line {
      opacity: 0;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-name: entree;
      animation-name: entree;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-duration: .3s;
      animation-duration: .3s;
      animation-delay: .2s;
      -webkit-animation-delay: .2s;
    }
  }
}

.age-tabs-content .age-tabs-content-set {
  display: none;
  &.active {
    display: block;
  }
}

/* MOBILE CSS */
@media only screen and (max-width: 768px) {
  .age-tabs {
    .age-tab {
      display: none;
      &.u-active {
        display: flex;
      }
    }
    .toggle {
      position: absolute;
      border: solid 20px transparent;
      top: 50%;
      margin-top: -20px;
      &.l {
        left: -20px;
        border-right-color: #21568a;
      }
      &.r {
        right: -20px;
        border-left-color: #21568a;
      }
    }
    a.age-tab img {
      -webkit-transform: translateX(25%);
      transform: translateX(25%);
    }
  }
  .age-line {
    margin-right: 0;
    margin-left: 0;
  }
  .item-row {
    margin: 30px 10px 10px;
    .overview {
      flex-direction: column;
      .more {
        padding-top: 15px;
        .whatnext strong,
        .whatnext a {
          padding-left: 0;
        }
      }
      .scale {
        z-index: 2;
        padding-right: 0px;
        .title {
          height: 45px;
          margin-top: -95px;
          height: 95px;
          overflow: hidden;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          h3 {
            color: #fff;
            padding: 0 0 0 75px;
          }
        }
        .steps {
          flex-direction: column;
          min-height: 60px;
          .step {
            padding-left: 30px;
            padding-top: 15px;
            position: relative;
            overflow: hidden;
            text-align: left !important;
            &.end {
              padding-bottom: 10px;
            }
            .ttl {
              font-weight: bold;
            }
          }
        }
      }
      > .icon {
        flex: 0 95px;
        position: relative;
        background: #21568a;
        height: 90px;
        overflow: hidden;
      }
    }
    .line {
      position: absolute;
      top: -10px;
      left: 17px;
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      .icon {
        left: 13px !important;
        margin-left: 0px !important;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        &.i-end {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
    }
    a.more-details {
      display: none;
    }
  }
  .active .item-row .overview {
    .icon img {
      min-width: 60px;
      max-width: 95px;
    }
    > .icon img {
      min-width: 60px;
      max-width: 95px;
      display: none;
      + img {
        display: block;
      }
    }
  }
}

@keyframes entree {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes entree {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
