{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="overview">
    <div class="icon">
      <img
          src="{{ base_path ~ directory }}/images/insurance/shield.png"
          width="94" height="95" border="0" alt="">
      {% if (node.field_ig_icon.value) %}
      <img
          src="{{ file_url(node.field_ig_icon.entity.fileuri) }}"
          width="94" height="95" border="0" alt="">
      {% else %}
        <img
            src="{{ base_path ~ directory }}/images/insurance/icons/default_icon.png"
            width="94" height="95" border="0" alt="">
      {% endif %}
    </div>
    <div class="scale">
      <div class="title">
        {{ title_prefix }}
        <h3{{ title_attributes }}>
          {{ label }}
        </h3>
        {{ title_suffix }}
      </div>
      <div class="steps">
        <div class="step">
          <div class="ttl">{{ 'Algab'|t }}</div>
          <div class="line green">
            <div class="icon i-start"></div>
          </div>
          <div>
            {% set waiting_time = node.field_ig_waiting_time %}
            {% set waiting_time_options = waiting_time.fieldDefinition.fieldStorageDefinition.optionsProvider('value', node).possibleOptions %}
            {{ waiting_time_options[waiting_time.value] }}
          </div>
          <div>
            {% set initial_data_manager = node.field_ig_initial_data_manager %}
            {% set initial_data_manager_options = initial_data_manager.fieldDefinition.fieldStorageDefinition.optionsProvider('value', node).possibleOptions %}
            {{ initial_data_manager_options[initial_data_manager.value] }}
          </div>

          <a class="more-details" href="#n">{{ 'Rohkem infot'|t }}</a>

        </div>
        {% if(node.field_ig_is_pausable.value)%}
          <div class="step narrow center">
            <div class="ttl">{{ 'Peatamine'|t }}</div>
            <div class="line green">
              <div class="icon i-pause"></div>
            </div>
            {% if(node.field_ig_pausing_conditions.value) %}
              {% set pausing_conditions = node.field_ig_pausing_conditions.value|striptags %}
              {{ pausing_conditions|length > 50 ? pausing_conditions|slice(0, 50) ~ '...' : pausing_conditions }}
            {% endif %}
          </div>
        {% endif %}
        <div class="step wide center">
          <div class="ttl">{{ 'Lõpeb'|t }}</div>
          <div class="line over">
            <div class="icon i-stop"></div>
          </div>
          {% if(node.field_ig_ending_conditions.value) %}
            {% set ending_conditions = node.field_ig_ending_conditions.value|striptags %}
            {{ ending_conditions|length > 50 ? ending_conditions|slice(0, 50) ~ '...' : ending_conditions }}
          {% endif %}
        </div>
        <div class="step narrow center">
          <div class="ttl">{{ 'Kindlustus jätkub'|t }}</div>
          <div class="line thr">
            <div class="icon i-more"></div>
          </div>
          {% set extra_insurance = node.field_ig_extra_insurance %}
          {% set extra_insurance_options = extra_insurance.fieldDefinition.fieldStorageDefinition.optionsProvider('value', node).possibleOptions %}
          {{ extra_insurance_options[extra_insurance.value] }}
        </div>
        <div class="step end">
          <div class="ttl"></div>
          <div class="line thr">
            <div class="icon i-end"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="more">
      <div class="whatnext">
        {% if(node.field_ig_rel_insurance_groups.value) %}
        <strong>{{ 'Mis edasi?'|t }}</strong>

        {% for related_insurance_group in node.field_ig_rel_insurance_groups.value %}
          {% set related_insurance_group_title = content.field_ig_rel_insurance_groups[loop.index0]['#title'] %}
          <a class="insurance-group-reference" href="#insurance-group-{{ related_insurance_group.target_id }}">{{ related_insurance_group_title }}</a>
        {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
  <div class="item-details">
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  </div>
</article>
