  <meta charset="utf-8">
  <meta name="title" content="Kindlustus | Eesti Haigekassa">
  <link rel="canonical" href="https://www.haigekassa.ee/inimesele/kindlustus">
  <meta name="description" content="Loe lähemalt ravikindlustuse saamise võimalustest: ">
  <meta name="Generator" content="Drupal 8 (https://www.drupal.org)">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="alternate" hreflang="et" href="https://www.haigekassa.ee/inimesele/kindlustus">
  <link rel="alternate" hreflang="en" href="https://www.haigekassa.ee/en/people/health-insurance">
  <link rel="alternate" hreflang="ru" href="https://www.haigekassa.ee/ru/celoveku/strahovka">
  <link rel="shortcut icon" href="https://www.haigekassa.ee/sites/default/files/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="revision" href="https://www.haigekassa.ee/inimesele/kindlustus">
  <title>Kindlustus | Eesti Haigekassa</title>
  <link rel="stylesheet" href="https://www.haigekassa.ee/core/assets/vendor/normalize-css/normalize.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/core/themes/stable/css/views/views.module.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/modules/contrib/webform/css/webform.form.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/modules/contrib/webform/css/webform.element.details.toggle.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/modules/contrib/anchor_link/css/anchor_link.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/modules/contrib/extlink/extlink.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/core/themes/classy/css/components/messages.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/core/themes/classy/css/components/node.css?p5j7wk" media="all">
  <link rel="stylesheet" href="https://www.haigekassa.ee/themes/haigekassa/css/style.css?p5j7wk" media="all">
  <!--[if lte IE 8]>
  <script src="https://www.haigekassa.ee/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
  <![endif]-->
  <style></style><script type="text/javascript">// Promises
    var _eid_promises = {};
    // Turn the incoming message from extension
    // into pending Promise resolving
    window.addEventListener("message", function(event) {
      if(event.source !== window) return;
      if(event.data.src && (event.data.src === "background.js")) {
        console.log("Page received: ");
        console.log(event.data);
        // Get the promise 
        if(event.data.nonce) {
          var p = _eid_promises[event.data.nonce];
          // resolve
          if(event.data.result === "ok") {
            if(event.data.signature !== undefined) {
              p.resolve({hex: event.data.signature});
            } else if(event.data.version !== undefined) {
              p.resolve(event.data.extension + "/" + event.data.version);
            } else if(event.data.cert !== undefined) {
              p.resolve({hex: event.data.cert});
            } else {
              console.log("No idea how to handle message");
              console.log(event.data);
            }
          } else {
            // reject
            p.reject(new Error(event.data.result));
          }
          delete _eid_promises[event.data.nonce];
        } else {
          console.log("No nonce in event msg");
        }
      }
    }, false);


    function TokenSigning() {
      function nonce() {
        var val = "";
        var hex = "abcdefghijklmnopqrstuvwxyz0123456789";
        for(var i = 0; i < 16; i++) val += hex.charAt(Math.floor(Math.random() * hex.length));
        return val;
      }

      function messagePromise(msg) {
        return new Promise(function(resolve, reject) {
          // amend with necessary metadata
          msg["nonce"] = nonce();
          msg["src"] = "page.js";
          // send message
          window.postMessage(msg, "*");
          // and store promise callbacks
          _eid_promises[msg.nonce] = {
            resolve: resolve,
            reject: reject
          };
        });
      }
      this.getCertificate = function(options) {
        var msg = {type: "CERT", lang: options.lang, filter: options.filter};
        console.log("getCertificate()");
        return messagePromise(msg);
      };
      this.sign = function(cert, hash, options) {
        var msg = {type: "SIGN", cert: cert.hex, hash: hash.hex, hashtype: hash.type, lang: options.lang, info: options.info};
        console.log("sign()");
        return messagePromise(msg);
      };
      this.getVersion = function() {
        console.log("getVersion()");
        return messagePromise({
          type: "VERSION"
        });
      };
    }</script></head>
<body class="path-node page-node-type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Liigu edasi põhisisu juurde
</a>
<div class="wrap">
<header class="header">
<button class="btn header--toggle" type="button" aria-label="Ava/Sulge menüü">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
<div class="header-inner">
<div class="header-top">
  <div class="u-container">
    <div class="accessibility">
      <p>Kontrast:</p>
      <a href="#" data-contrast--on="">TUGEV</a>
      <a href="#" class="is-active" data-contrast--off="">TAVALINE</a>
    </div>
    <div id="block-help-link" class="block block-block-content block-block-content9cd9931f-377e-42a0-a56d-a1184805caf6">
      <div class="help-link field__item">
        <a href="https://www.haigekassa.ee/abi-juurdepaasetavusest-lahemalt">Abi</a>
      </div>
    </div>
    <div class="language-switcher-language-url block block-language block-language-blocklanguage-interface" id="block-keelevahetaja" role="navigation">
      <ul class="links">
        <li hreflang="et" data-drupal-link-system-path="node/8" class="et is-active"><a href="https://www.haigekassa.ee/inimesele/kindlustus" class="language-link is-active" hreflang="et" data-drupal-link-system-path="node/8">EST</a></li>
        <li hreflang="en" data-drupal-link-system-path="node/8" class="en"><a href="https://www.haigekassa.ee/en/people/health-insurance" class="language-link" hreflang="en" data-drupal-link-system-path="node/8">ENG</a></li>
        <li hreflang="ru" data-drupal-link-system-path="node/8" class="ru"><a href="https://www.haigekassa.ee/ru/celoveku/strahovka" class="language-link" hreflang="ru" data-drupal-link-system-path="node/8">RUS</a></li>
      </ul>
    </div>
    <nav role="navigation" aria-labelledby="block-topheadermenu-menu" id="block-topheadermenu" class="block block-menu navigation menu--top-header-menu">
      <h2 class="visually-hidden" id="block-topheadermenu-menu">Top header menu</h2>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/inimesele/kontakt" data-drupal-link-system-path="node/1">Kontaktid</a>
        </li>
      </ul>
    </nav>
    <div class="search-block-form block block-search container-inline" data-drupal-selector="search-block-form" id="block-search-form-block" role="search">
      <form action="/otsing" method="get" id="search-block-form" accept-charset="UTF-8">
        <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
          <label for="edit-keys" class="visually-hidden">Otsing</label>
          <input title="Sisesta märksõnad, mida soovid otsida." placeholder="Otsi sisust..." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search">
        </div>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Otsing" class="button js-form-submit form-submit"></div>
      </form>
    </div>
  </div>
</div>
<div class="header-bottom">
<div class="u-container">
<div id="block-haigekassa-branding" class="block block-system block-system-branding-block">
  <a href="https://www.haigekassa.ee/" title="Avaleht" rel="home" class="site-logo">
    <img src="https://www.haigekassa.ee/themes/haigekassa/logo.svg" alt="Avaleht">
    <img class="hc-logo" src="https://www.haigekassa.ee/themes/haigekassa/images/logo-hc.svg" alt="Avaleht">
  </a>
</div>
<nav role="navigation" aria-labelledby="block-haigekassa-main-menu-menu" id="block-haigekassa-main-menu" class="menu--main">
<h2 class="visually-hidden" id="block-haigekassa-main-menu-menu">Põhinavigatsioon</h2>
<ul class="menu">
<li class="menu-item menu-item--expanded menu-item--active-trail">
<a href="https://www.haigekassa.ee/inimesele" data-drupal-link-system-path="node/13">Inimesele</a>
<button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
<ul class="menu">
  <li class="menu-item menu-item--expanded menu-item--active-trail">
    <a href="https://www.haigekassa.ee/inimesele/kindlustus" data-drupal-link-system-path="node/8" class="is-active">Kindlustus</a>
    <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
    <ul class="menu">
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/laps-opilane-uliopilane" data-drupal-link-system-path="node/965">Laps, õpilane, üliõpilane</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/tooandja-kindlustatud" data-drupal-link-system-path="node/967">Tööandja kindlustatud</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/tootu" data-drupal-link-system-path="node/970">Töötu</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/fie-ja-tema-abikaasa" data-drupal-link-system-path="node/969">FIE ja abikaasa</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/lapseootel-naine" data-drupal-link-system-path="node/973">Lapseootel naine</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/ulalpeetav-abikaasa" data-drupal-link-system-path="node/974">Ülalpeetav abikaasa</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/pensionar" data-drupal-link-system-path="node/975">Pensionär</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/osalise-voi-puuduva-toovoimega-isikud" data-drupal-link-system-path="node/972">Osalise või puuduva töövõimega isikud</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/riigi-poolt-kindlustatud" data-drupal-link-system-path="node/971">Riigi poolt kindlustatud</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/vabatahtlik-kindlustus" data-drupal-link-system-path="node/976">Vabatahtlik kindlustus</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus/isikuandmete-muutmine" data-drupal-link-system-path="node/963">Isikuandmete muutmine</a>
      </li>
    </ul>
  </li>
  <li class="menu-item menu-item--expanded">
    <a href="https://www.haigekassa.ee/inimesele/haigekassa-huvitised" data-drupal-link-system-path="node/6">Hüvitised</a>
    <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
    <ul class="menu">
      <li class="menu-item menu-item--expanded">
        <a href="https://www.haigekassa.ee/inimesele/haigekassa-huvitised/toovoimetushuvitised" data-drupal-link-system-path="node/7">Töövõimetushüvitised</a>
        <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
        <ul class="menu">
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/rahalised-huvitised/toovoimetushuvitised/haigushuvitis" data-drupal-link-system-path="node/977">Haigushüvitis</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/rahalised-huvitised/toovoimetushuvitised/hooldushuvitis" data-drupal-link-system-path="node/978">Hooldushüvitis</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/rahalised-huvitised/sunnitushuvitis" data-drupal-link-system-path="node/11">Sünnitushüvitis</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/rahalised-huvitised/toovoimetushuvitised/lapsendamishuvitis" data-drupal-link-system-path="node/981">Lapsendamishüvitis</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/hambaravi" data-drupal-link-system-path="hambaravi">Hambaravihüvitis</a>
      </li>
      <li class="menu-item">
        <a href="http://www.haigekassa.ee/hambaravi/patsiendile/hambaproteeside-huvitis">Proteesihüvitis</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/haigekassa-huvitised/kunstliku-viljastamisega-seotud-ravimite-huvitamine" data-drupal-link-system-path="node/12">Kunstliku viljastamisega seotud ravimihüvitis</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/ravimihuvitis" data-drupal-link-system-path="node/982">Täiendav ravimihüvitis</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/ravimihuvitis/taiendava-ravimihuvitis-kuni-31122017" data-drupal-link-system-path="node/28005">Täiendava ravimihüvitis kuni 31.12.2017</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="https://www.haigekassa.ee/inimesele/tasude-maarad-ja-omaosalus" data-drupal-link-system-path="node/10">Tasude määrad ja omaosalus</a>
  </li>
  <li class="menu-item menu-item--expanded">
    <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi" data-drupal-link-system-path="node/48">Arsti- ja õendusabi</a>
    <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
    <ul class="menu">
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/tervishoiuteenused" data-drupal-link-system-path="node/989">Tervishoiuteenused</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/haigekassa-lepingupartnerid" data-drupal-link-system-path="inimesele/arsti-ja-oendusabi/haigekassa-lepingupartnerid">Haigekassa lepingupartnerid</a>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/perearstiabi" data-drupal-link-system-path="node/990">Perearstiabi</a>
        <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
        <ul class="menu">
          <li class="menu-item">
            <a href="http://www.haigekassa.ee/1220">Perearsti nõuandetelefon</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/perearstiabi/tervisekeskused" data-drupal-link-system-path="node/993">Tervisekeskused</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/eriarstiabi" data-drupal-link-system-path="node/994">Eriarstiabi</a>
        <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
        <ul class="menu">
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/eriarstiabi/lepingupartnerid" data-drupal-link-system-path="node/8006">Lepingupartnerid</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/oendusabi" data-drupal-link-system-path="node/1000">Õendusabi</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/hambaravi">Hambaravi</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/koolitervishoid" data-drupal-link-system-path="node/1002">Koolitervishoid</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/ravijarjekorrad" data-drupal-link-system-path="node/1003">Ravijärjekorrad</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/ammaemandusabi" data-drupal-link-system-path="node/999">Ämmaemandusabi</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi/digisaatekiri" data-drupal-link-system-path="node/997">Digisaatekiri</a>
      </li>
    </ul>
  </li>
  <li class="menu-item menu-item--expanded">
    <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed" data-drupal-link-system-path="node/1007">Ravimid ja meditsiiniseadmed</a>
    <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
    <ul class="menu">
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/ravimite-kompenseerimine" data-drupal-link-system-path="node/1011">Ravimite kompenseerimine</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/ravimi-hind" data-drupal-link-system-path="node/1012">Soodustuse arvutamine ja soodusmäärad</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/ravimite-erandkorras-kompenseerimine" data-drupal-link-system-path="node/1010">Ravimite erandkorras kompenseerimine</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/toimeainepohine-retsept" data-drupal-link-system-path="node/1009">Toimeainepõhine retsept</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/taiendav-ravimihuvitis" data-drupal-link-system-path="node/28006">Täiendav ravimihüvitis</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/kehavalise-viljastamisega-seotud-ravimid" data-drupal-link-system-path="node/28007">Kehavälise viljastamisega seotud ravimid</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/partnerile/raviasutusele/meditsiiniseadmed" data-drupal-link-system-path="node/1080">Meditsiiniseadmed</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/stoomihooldustooted" data-drupal-link-system-path="node/1014">Stoomihooldustooted</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed/digiretsept" data-drupal-link-system-path="node/1015">Digiretsept</a>
      </li>
    </ul>
  </li>
  <li class="menu-item menu-item--expanded">
    <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus" data-drupal-link-system-path="node/1016">Haiguste ennetus</a>
    <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
    <ul class="menu">
      <li class="menu-item menu-item--expanded">
        <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus/vahi-soeluuringud-naistele" data-drupal-link-system-path="node/1017">Vähi sõeluuringud naistele</a>
        <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
        <ul class="menu">
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus/vahi-soeluuringud-naistele/hpv-vastane-vaktsineerimine" data-drupal-link-system-path="node/82758">HPV-vastane vaktsineerimine</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus/jamesoolevahi-soeluuring" data-drupal-link-system-path="node/1020">Jämesoolevähi sõeluuring</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetamine/laste-tervise-jalgimine" data-drupal-link-system-path="node/1021">Laste tervise jälgimine</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus/krooniliste-haiguste-ennetamine" data-drupal-link-system-path="node/1022">Krooniliste haiguste ennetamine</a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="https://www.haigekassa.ee/inimesele/ettepanekud-ja-tagasiside" data-drupal-link-system-path="node/1023">Ettepanekud ja tagasiside</a>
  </li>
  <li class="menu-item">
    <a href="https://www.haigekassa.ee/inimesele/blanketid" data-drupal-link-system-path="node/991">Blanketid</a>
  </li>
  <li class="menu-item">
    <a href="https://www.haigekassa.ee/inimesele/kontakt" data-drupal-link-system-path="node/1">Kontakt</a>
  </li>
</ul>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/tooandjale" title="Tööandja rubriigist leiab infot selle kohta, kuidas taotleda töötajale ravikindlustust, kuidas esitada kindlustusandmeid jpm." data-drupal-link-system-path="node/24">Tööandjale</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/tooandjale/kindlustusandmete-edastamine" data-drupal-link-system-path="node/27">Kindlustusandmete edastamine</a>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/tooandjale/ajutise-toovoimetuse-huvitis" data-drupal-link-system-path="node/28">Ajutise töövõimetuse hüvitis</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item menu-item--expanded">
          <a href="https://www.haigekassa.ee/tooandjale/ajutise-toovoimetuse-huvitis/toovoimetuslehe-andmete-edastamine" data-drupal-link-system-path="node/1151">Töövõimetuslehe andmete edastamine</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/tooandjale/ajutise-toovoimetuse-huvitis/kokkulepitud-tootasu-markimine" data-drupal-link-system-path="node/1152">Kokkulepitud töötasu märkimine</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/tooandjale/ajutise-toovoimetuse-huvitis/valisriigis-valjastatud-toovoimetusleht" data-drupal-link-system-path="node/1153">Välisriigis väljastatud töövõimetusleht</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/tooandjale/ajutise-toovoimetuse-huvitis/tvh-maksmise-kord-kusimused-ja-vastused" data-drupal-link-system-path="node/1154">TVH maksmise kord: küsimused ja vastused</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/tooandjale/ravikindlustus-oma-tootajale" data-drupal-link-system-path="node/52">Ravikindlustus oma töötajale</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/tooandjale/ravikindlustus-oma-tootajale/ravikindlustuse-seaduse-muudatus-01012016" data-drupal-link-system-path="node/1155">Ravikindlustuse seaduse muudatus 01.01.2016</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/tooandjale/ravikindlustus-oma-tootajale/valisriigi-elukohaga-tootaja-registreerimine" data-drupal-link-system-path="node/1156">Välisriigi elukohaga töötaja registreerimine</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/tooandjale/blanketid-tooandjale" data-drupal-link-system-path="node/1157">Blanketid</a>
    </li>
  </ul>
</li>
<li class="menu-item menu-item--expanded">
<a href="https://www.haigekassa.ee/partnerile" title="Siin rubriigis on vajalik info raviasutustele, perearstidele, apteekidele ning ravimite ja meditsiiniseadmete müüjale." data-drupal-link-system-path="node/25">Partnerile</a>
<button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
<ul class="menu">
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/partnerile/raviasutusele" data-drupal-link-system-path="node/55">Raviasutusele</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervishoiuteenuste-loetelu" data-drupal-link-system-path="node/69">Tervishoiuteenuste loetelu</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervishoiuteenuste-loetelu/loetelu-muutmise-uldinfo" data-drupal-link-system-path="node/70">Loetelu muutmise üldinfo</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervishoiuteenuste-loetelu/loetelu-muutmine-2013-2018" data-drupal-link-system-path="node/1031">Loetelu muutmine 2013-2018</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervishoiuteenuste-loetelu/ettepaneku-esitamine-ja-hinnangud" data-drupal-link-system-path="node/1032">Ettepaneku esitamine ja hinnangud</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervishoiuteenuste-loetelu/drg" data-drupal-link-system-path="node/1033">DRG</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud" data-drupal-link-system-path="node/30">Ravi rahastamise lepingud</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud/lepingupartnerite-valik" data-drupal-link-system-path="node/1039">Lepingupartnerite valik</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud/tervishoiuteenuste-noudluse-hindamine" data-drupal-link-system-path="node/1045">Tervishoiuteenuste nõudluse hindamine</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud/ravi-rahastamise-lepingute-tuuptingimused" data-drupal-link-system-path="node/1041">Ravi rahastamise lepingute tüüptingimused</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud/uldarstiabi-rahastamise-lepingud" data-drupal-link-system-path="node/1050">Üldarstiabi rahastamise lepingud</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravi-rahastamise-lepingud/koolitervishoiuteenuste-rahastamise-lepingud" data-drupal-link-system-path="node/1054">Koolitervishoiuteenuste rahastamise lepingud</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/ravijarjekorrad" data-drupal-link-system-path="node/1049">Ravijärjekorrad</a>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile" data-drupal-link-system-path="node/1055">Perearstile</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/esmatasandi-tervisekeskused" data-drupal-link-system-path="node/1057">Esmatasandi tervisekeskused</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/perearsti-kvaliteedisusteem" data-drupal-link-system-path="node/1026">Perearsti kvaliteedisüsteem</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/uuringufondi-analuus" data-drupal-link-system-path="node/1059">Uuringufondi analüüs</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/teraapiafond" data-drupal-link-system-path="node/1067">Teraapiafond</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/e-konsultatsioon" data-drupal-link-system-path="node/1060">E-konsultatsioon</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/eesti-ravi-juhtimise-pilootprojekt" data-drupal-link-system-path="node/1070">Eesti ravi juhtimise pilootprojekt</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/immuniseerimiskava-rakendusjuhis" data-drupal-link-system-path="node/1058">Immuniseerimiskava rakendusjuhis</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/toovoimetuslehtede-andmed" data-drupal-link-system-path="node/1069">Töövõimetuslehtede andmed</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/perearstide-nimistu-koosseisud" data-drupal-link-system-path="node/1056">Perearstide nimistu koosseisud</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/perearstide-infopaevad" data-drupal-link-system-path="node/1068">Perearstide infopäevad</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/perearstile/digisaatekiri" data-drupal-link-system-path="node/27456">Digisaatekiri</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/haiguste-ennetus" data-drupal-link-system-path="node/1072">Haiguste ennetus</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/haiguste-ennetus/ennetuse-holmatus" data-drupal-link-system-path="node/1074">Ennetuse hõlmatus</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/haiguste-ennetus/ennetuse-projektide-tulemused" data-drupal-link-system-path="node/1073">Ennetuse projektide tulemused</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/haiguste-ennetus/jamesoolevahi-soeluuringu-info-tervishoiutootajale" data-drupal-link-system-path="node/1076">Jämesoolevähi sõeluuringu info tervishoiutöötajale</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/raviasutusele/haiguste-ennetus/koolitervishoid" data-drupal-link-system-path="node/1075">Koolitervishoid</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/hambaravi/partnerile">Hambaarstile</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/meditsiiniseadmed" data-drupal-link-system-path="node/1080">Meditsiiniseadmed</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/retsept-arstile" data-drupal-link-system-path="node/1081">Retsept arstile</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/raviasutusele/tervise-edendamine" data-drupal-link-system-path="node/1077">Tervise edendamine</a>
    </li>
  </ul>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/partnerile/apteekidele" data-drupal-link-system-path="node/29">Apteekidele</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/apteekidele/digiretsept-apteegile" data-drupal-link-system-path="node/1092">Digiretsept apteegile</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/apteekidele/taiendava-ravimihuvitise-muudatus" data-drupal-link-system-path="node/27472">Täiendava ravimihüvitise muudatus</a>
    </li>
  </ul>
</li>
<li class="menu-item">
  <a href="https://www.haigekassa.ee/partnerile/ravimid" data-drupal-link-system-path="node/27485">Ravimid</a>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/partnerile/meditsiiniseadmete-tootjatele-ja-muujatele" data-drupal-link-system-path="node/1093">Meditsiiniseadmete tootjatele ja müüjatele</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/meditsiiniseadmete-tootjatele-ja-muujatele/meditsiiniseadmete-loetelu-muutmine" data-drupal-link-system-path="node/1094">Meditsiiniseadmete loetelu muutmine</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/meditsiiniseadmete-tootjatele-ja-muujatele/meditsiiniseadmete-muujad" data-drupal-link-system-path="node/1095">Meditsiiniseadmete müüjad</a>
    </li>
  </ul>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet" data-drupal-link-system-path="node/1097">Tervishoiuteenuste kvaliteet</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/lepingupartnerite-kontrollid" data-drupal-link-system-path="node/1100">Lepingupartnerite kontrollid</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/lepingupartnerite-kontrollid/ravikindlustushuvitiste" data-drupal-link-system-path="node/1101">Ravikindlustushüvitiste kontroll</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/url-kontroll" data-drupal-link-system-path="node/1104">Üldarstiabi rahastamise lepingute kontroll</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/rrl-kontroll" data-drupal-link-system-path="node/1103">Ravi rahastamise lepingute kontroll</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/ravijuhendid" data-drupal-link-system-path="node/1105">Ravijuhendid</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/indikaatorite-moodul">Indikaatorite moodul</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/kliinilised-auditid" data-drupal-link-system-path="node/1115">Kliinilised auditid</a>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/indikaatorite-raport-ja-aruanded" data-drupal-link-system-path="node/1106">Indikaatorite raport ja aruanded</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/indikaatorite-raport-ja-aruanded/aruannete-arhiiv" data-drupal-link-system-path="node/1118">Aruannete arhiiv</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/ravikvaliteedi-indikaatorid" data-drupal-link-system-path="node/1119">Ravikvaliteedi indikaatorid</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/ravikvaliteedi-indikaatorid/detailsed-ravikvaliteedi" data-drupal-link-system-path="node/1120">Detailsed ravikvaliteedi indikaatorid</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/partnerile/tervishoiuteenuste-kvaliteet/ravikvaliteedi-indikaatorid/tegevus" data-drupal-link-system-path="node/1121">Tegevus</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/partnerile/it-juhendid" data-drupal-link-system-path="node/1082">E-teenuste arendused ja IT juhendid</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/ravikindlustusandmed" data-drupal-link-system-path="node/1091">Ravikindlustusandmed</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/it-juhendid/digiretsept" data-drupal-link-system-path="node/1084">Digiretsept ja operaatorteenus</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/toru-juhendid" data-drupal-link-system-path="node/1086">TORU juhendid</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/toovoimetusleht-tvl" data-drupal-link-system-path="node/1087">Töövõimetusleht (TVL)</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/hambaproteesi-huvitised" data-drupal-link-system-path="node/1088">Hambaproteesi hüvitised</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/ravijarjekorrad" data-drupal-link-system-path="node/1083">Ravijärjekorrad</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/partnerile/e-teenuste-arendused-ja-it-juhendid/juhendid-perearstidele" data-drupal-link-system-path="node/1085">Juhendid perearstidele</a>
    </li>
  </ul>
</li>
<li class="menu-item">
  <a href="https://www.haigekassa.ee/partnerile/euroopa-liidu-info-partnerile" data-drupal-link-system-path="node/1122">Euroopa Liidu info partnerile</a>
</li>
<li class="menu-item">
  <a href="https://www.haigekassa.ee/partnerile/blanketid-partnerile" data-drupal-link-system-path="node/1126">Blanketid partnerile</a>
</li>
</ul>
</li>
<li class="menu-item menu-item--expanded">
  <a href="https://www.haigekassa.ee/haigekassa" title="Haigekassa organisatsioon ja eesmärgid, majandusaruanded, uuringud, kehtivad õigusaktid, dokumendiregister." data-drupal-link-system-path="node/26">Haigekassa</a>
  <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
  <ul class="menu">
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/haigekassa/meie" data-drupal-link-system-path="node/57">Eesti Haigekassa</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item menu-item--expanded">
          <a href="https://www.haigekassa.ee/haigekassa/meie/noukogu-ja-juhatus" data-drupal-link-system-path="node/59">Nõukogu ja juhatus</a>
          <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
          <ul class="menu">
            <li class="menu-item">
              <a href="https://www.haigekassa.ee/haigekassa/meie/noukogu-ja-juhatus/noukogu-liikmed" data-drupal-link-system-path="node/50">Nõukogu liikmed</a>
            </li>
            <li class="menu-item">
              <a href="https://www.haigekassa.ee/haigekassa/juhtimine/noukogu-otsused" data-drupal-link-system-path="haigekassa/juhtimine/noukogu-otsused">Nõukogu otsused</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded">
          <a href="https://www.haigekassa.ee/haigekassa/meie/haigekassa-tootajad" data-drupal-link-system-path="node/60">Haigekassa töötajad</a>
          <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
          <ul class="menu">
            <li class="menu-item">
              <a href="https://www.haigekassa.ee/haigekassa/meie/haigekassa-tootajad/haigekassa-osalus-tooruhmades-ja-komisjonides" data-drupal-link-system-path="node/1130">Haigekassa osalus töörühmades ja komisjonides</a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/uuringud-ja-analuusid" data-drupal-link-system-path="node/31">Uuringud ja analüüsid</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/koostoo" data-drupal-link-system-path="node/1128">Koostöö</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/hanked" data-drupal-link-system-path="node/1134">Hanked</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/tookuulutused" data-drupal-link-system-path="node/1137">Töökuulutused</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/dokumendiregister" data-drupal-link-system-path="node/1132">Dokumendiregister</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/sumboolika" data-drupal-link-system-path="node/1135">Sümboolika</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/meie/abi-juurdepaasetavus" data-drupal-link-system-path="node/1136">Abi - juurdepääsetavus</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/haigekassa/organisatsioon" data-drupal-link-system-path="node/49">Strateegiad ja arengusuunad</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/organisatsioon/eriarstiabi-ostustrateegia" data-drupal-link-system-path="node/1143">Eriarstiabi ostustrateegia</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/organisatsioon/esmatasandi-teenuste-arendamine" data-drupal-link-system-path="node/1142">Esmatasandi teenuste arendamine</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/organisatsioon/haigekassa-arengukavad" data-drupal-link-system-path="node/1140">Haigekassa arengukavad</a>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad" data-drupal-link-system-path="node/8001">Finantsnäitajad</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad/aruanded-eelarve-ja-statistika" data-drupal-link-system-path="node/1141">Aruanded, eelarve ja statistika</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad/infograafika" data-drupal-link-system-path="node/8002">Infograafika</a>
        </li>
        <li class="menu-item">
          <a href="https://statistika.haigekassa.ee/">Tervishoiustatisika</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad/tervishoiuteenuste-statistika" data-drupal-link-system-path="node/23964">Tervishoiuteenuste statistika</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad/meditsiiniseadmete-statistika" data-drupal-link-system-path="node/8027">Meditsiiniseadmete statistika</a>
        </li>
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/aruanded-eelarve-ja-statistika/finantsnaitajad/soodusravimite-statistika" data-drupal-link-system-path="node/8028">Soodusravimite statistika</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/haigekassa/pressile" data-drupal-link-system-path="node/56">Pressile</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/haigekassa/teabenoue" data-drupal-link-system-path="node/1133">Teabenõue</a>
    </li>
    <li class="menu-item menu-item--expanded">
      <a href="https://www.haigekassa.ee/haigekassa/oigusaktid" data-drupal-link-system-path="node/1131">Õigusaktid</a>
      <button type="button" aria-label="Ava alammenüü" class="menu-item--toggle"></button>
      <ul class="menu">
        <li class="menu-item">
          <a href="https://www.haigekassa.ee/haigekassa/oigusaktid/valislepingud" data-drupal-link-system-path="node/1138">Välislepingud</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
</ul>
</nav>
<nav role="navigation" aria-labelledby="block-infomenu-2-menu" id="block-infomenu-2" class="menu--info-menu">
  <h2 class="visually-hidden" id="block-infomenu-2-menu">Info menu</h2>
  <ul class="menu">
    <li class="menu-item menu-item--collapsed">
      <a href="https://www.haigekassa.ee/uudised" data-drupal-link-system-path="uudised">Uudised</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/infomaterjalid" data-drupal-link-system-path="infomaterjalid">Infomaterjalid</a>
    </li>
    <li class="menu-item">
      <a href="https://www.haigekassa.ee/kkk" data-drupal-link-system-path="kkk">KKK</a>
    </li>
    <li class="menu-item menu-item--collapsed">
      <a href="https://www.haigekassa.ee/kontaktpunkt" data-drupal-link-system-path="kontaktpunkt">Riiklik kontaktpunkt</a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
</header>
<main class="main">
<a id="main-content" tabindex="-1"></a>
<div class="main-content--full">
</div>
<div class="main-content">
<div class="page-content">
<div id="block-haigekassa-breadcrumbs" class="block block-system block-system-breadcrumb-block">
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol>
      <li><a href="https://www.haigekassa.ee/">Avaleht</a></li>
      <li><a href="https://www.haigekassa.ee/inimesele">Inimesele</a></li>
    </ol>
  </nav>
</div>

  <!-- Drupal integration STARTS -->
  {{ page.content }}
  <!-- Drupal integration ENDS -->

</div>
<aside class="sidebar">
  <nav role="navigation" aria-labelledby="block-sidemenu-menu" id="block-sidemenu" class="menu--main">
    <h2 class="visually-hidden" id="block-sidemenu-menu">Külgmenüü</h2>
    <ul class="menu">
      <li class="menu-item menu-item--expanded menu-item--active-trail">
        <a href="https://www.haigekassa.ee/inimesele/kindlustus" data-drupal-link-system-path="node/8" class="is-active">Kindlustus</a>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="https://www.haigekassa.ee/inimesele/haigekassa-huvitised" data-drupal-link-system-path="node/6">Hüvitised</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/tasude-maarad-ja-omaosalus" data-drupal-link-system-path="node/10">Tasude määrad ja omaosalus</a>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="https://www.haigekassa.ee/inimesele/arsti-ja-oendusabi" data-drupal-link-system-path="node/48">Arsti- ja õendusabi</a>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="https://www.haigekassa.ee/inimesele/ravimid-ja-meditsiiniseadmed" data-drupal-link-system-path="node/1007">Ravimid ja meditsiiniseadmed</a>
      </li>
      <li class="menu-item menu-item--collapsed">
        <a href="https://www.haigekassa.ee/inimesele/haiguste-ennetus" data-drupal-link-system-path="node/1016">Haiguste ennetus</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/ettepanekud-ja-tagasiside" data-drupal-link-system-path="node/1023">Ettepanekud ja tagasiside</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/blanketid" data-drupal-link-system-path="node/991">Blanketid</a>
      </li>
      <li class="menu-item">
        <a href="https://www.haigekassa.ee/inimesele/kontakt" data-drupal-link-system-path="node/1">Kontakt</a>
      </li>
    </ul>
  </nav>
</aside>
</div>
</main>
<footer class="footer">
  <div class="footer-top">
    <div class="u-container">
      <nav role="navigation" aria-labelledby="block-footer-menu-menu" id="block-footer-menu" class="menu--main">
        <h2 class="visually-hidden" id="block-footer-menu-menu">Jaluse menüü</h2>
        <ul class="menu">
          <li class="menu-item menu-item--collapsed menu-item--active-trail">
            <a href="https://www.haigekassa.ee/inimesele" data-drupal-link-system-path="node/13">Inimesele</a>
          </li>
          <li class="menu-item menu-item--collapsed">
            <a href="https://www.haigekassa.ee/tooandjale" title="Tööandja rubriigist leiab infot selle kohta, kuidas taotleda töötajale ravikindlustust, kuidas esitada kindlustusandmeid jpm." data-drupal-link-system-path="node/24">Tööandjale</a>
          </li>
          <li class="menu-item menu-item--collapsed">
            <a href="https://www.haigekassa.ee/partnerile" title="Siin rubriigis on vajalik info raviasutustele, perearstidele, apteekidele ning ravimite ja meditsiiniseadmete müüjale." data-drupal-link-system-path="node/25">Partnerile</a>
          </li>
          <li class="menu-item menu-item--collapsed">
            <a href="https://www.haigekassa.ee/haigekassa" title="Haigekassa organisatsioon ja eesmärgid, majandusaruanded, uuringud, kehtivad õigusaktid, dokumendiregister." data-drupal-link-system-path="node/26">Haigekassa</a>
          </li>
        </ul>
      </nav>
      <nav role="navigation" aria-labelledby="block-infomenu-menu" id="block-infomenu" class="menu--info-menu">
        <h2 class="visually-hidden" id="block-infomenu-menu">Info menu</h2>
        <ul class="menu">
          <li class="menu-item menu-item--collapsed">
            <a href="https://www.haigekassa.ee/uudised" data-drupal-link-system-path="uudised">Uudised</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/infomaterjalid" data-drupal-link-system-path="infomaterjalid">Infomaterjalid</a>
          </li>
          <li class="menu-item">
            <a href="https://www.haigekassa.ee/kkk" data-drupal-link-system-path="kkk">KKK</a>
          </li>
          <li class="menu-item menu-item--collapsed">
            <a href="https://www.haigekassa.ee/kontaktpunkt" data-drupal-link-system-path="kontaktpunkt">Riiklik kontaktpunkt</a>
          </li>
        </ul>
      </nav>
      <div id="block-icon-menu" class="block block-block-content block-block-content94c05667-3984-4ffa-9ce7-915607d02494">
        <div class="icon-menu field field--name-field-icon-menu-items field--type-entity-reference-revisions field--label-hidden field__items">
          <a class="facebook" href="https://www.facebook.com/haigekassa/" title="Haigekassa facebook">Haigekassa facebook</a>
          <a class="youtube" href="https://www.youtube.com/channel/UC65du1Kajk0qvua45iRyquw" title="Haigekassa youtube">Haigekassa youtube</a>
          <a class="rss" href="https://www.haigekassa.ee/news/feed" title="Uudiste RSS">Uudiste RSS</a>
          <a class="email" href="mailto:info@haigekassa.ee" title="Haigekassa E-post">Haigekassa E-post</a>
          <a class="sitemap" href="https://www.haigekassa.ee/sisukaart" title="Sisukaart">Sisukaart</a>
          <a class="search" href="https://www.haigekassa.ee/otsing" title="Otsing">Otsing</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="u-container">
      <div id="block-footer-phone-numbers" class="block phone-no block-block-content block-block-contentd1ed377f-1c05-4812-a7d0-b517d2969715">
        <p class="item field field--name-field-phone-number field--type-telephone field--label-inline field__items">
          <span class="field__label">Klienditelefon</span>
          <a href="tel:%2B3726696630">(+372) 669 6630</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</div>
<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/8","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"et"},"pluralDelimiter":"\u0003","data":{"extlink":{"extTarget":true,"extClass":"0","extLabel":"","extImgClass":false,"extSubdomains":false,"extExclude":"","extInclude":"","extCssExclude":"","extCssExplicit":".node__content","extAlert":false,"extAlertText":"","mailtoClass":"0","mailtoLabel":""}},"google_analytics":{"trackOutbound":true,"trackMailto":true,"trackDownload":true,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/otsing":true},"user":{"uid":0,"permissionsHash":"8f8f504fa0dcd5e27ad1d6652356eebcc042390cd581eed048a469a8d39a2abe"}}</script>
<script src="https://www.haigekassa.ee/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>
<script src="https://www.haigekassa.ee/core/assets/vendor/jquery/jquery.min.js?v=3.2.1"></script>
{#<script src="https://www.haigekassa.ee/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.0"></script>#}
{#<script src="https://www.haigekassa.ee/core/misc/drupalSettingsLoader.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/sites/default/files/languages/et_7xfqXON6Dv3td1pbac8s676TLD4O_8e05IuedWXzkyc.js?p5j7wk"></script>#}
{#<script src="https://www.haigekassa.ee/core/misc/drupal.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/core/misc/drupal.init.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/modules/contrib/extlink/extlink.min.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/modules/contrib/google_analytics/js/google_analytics.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/core/assets/vendor/jquery.cookie/jquery.cookie.min.js?v=1.4.1"></script>#}
<script src="https://www.haigekassa.ee/themes/haigekassa/js/slick.min.js?p5j7wk"></script>
<script src="https://www.haigekassa.ee/themes/haigekassa/js/main.js?p5j7wk"></script>
{#<script src="https://www.haigekassa.ee/modules/contrib/webform/js/webform.states.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/modules/contrib/webform/js/webform.form.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/modules/contrib/webform/js/webform.element.details.toggle.js?v=8.4.3"></script>#}
{#<script src="https://www.haigekassa.ee/modules/contrib/webform/js/webform.element.details.save.js?v=8.4.3"></script>#}
<script>
  jQuery(document).ready(function($){
    $('.age-tabs').each(function(e){
      var tabs = $(this);
      tabs.on('click','.age-tab',function(e){
        e.preventDefault();
        e.stopPropagation();
        var btn = $(this),
            submenu = this.tagName == 'DIV',
            content = btn.attr('href');
        tabs.find('.u-active').removeClass('u-active');
        if(submenu) {
          btn.find('.age-tab').first().trigger('click');
        } else {
          var p = btn.parent();
          btn.addClass('u-active');
          if(p.is('.sub-menu')) {
            p.parent().addClass('u-active');
          }
          //$(content).addClass('active').siblings().removeClass('active');
        }
        //tabs.removeClass('open');
      });
    });
  })
</script>